<section class="aboutme" id="about-me">
  <div class="container aboutme-container">
    <div class="aboutme-preson">
      <h2 class="visually-hidden">About Me</h2>
      <div class="aboutme-person-wrapper">
        <p class="aboutme-preson-text">
          I work with people all over the world to create impressive and
          <span class="aboutme-span-red">functional</span>
          <span class="aboutme-span-gray">websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
      <picture class="aboutme-pic">
        <source
          srcset ="/img/aboutme/img-pc@1x.jpg 1x, /img/aboutme/img-pc@2x.jpg 2x"
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/aboutme/img-tab@1x.jpg 1x,
            /img/aboutme/img-tab@2x.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            /img/aboutme/img-mob@1x.jpg 1x,
            /img/aboutme/img-mob@2x.jpg 2x
          "
          media="(max-width: 767px)"
        />

        <img
        class="img-body"
          src="/img/aboutme/img-mob@1x.jpg"
          alt="fullstack developer"
          width="343"
          height="500"
        />
      </picture>
    </div>

    <ul class="aboutme-ac-list">
      <li class="aboutme-ac-item">
        <div class="aboutme-ac">
          <h2 class="aboutme-ac-title">About me</h2>
          <button type="button" aria-label="description" class="aboutme-ac-trigger">
            <svg class="trigger-icon" width="10" height="5">
              <use href="/img/aboutme/icon.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="aboutme-ac-panel">
          <p class="aboutme-ac-text">
            I am Lloyd Jefferson, a talented programmer with extensive expertise
            in software development. I have an understanding of different
            programming languages ​​and technologies, always ready to improve my
            skills. I always follow the latest trends and look for
            unconventional, creative solutions to problems. I have a high level
            of analytical skills&nbsp;and amable to effectively solve even the
            most difficult tasks encountered on the way.
          </p>
          <p class="aboutme-ac-text">
            Able to work both independently and in a team. I can effectively
            cooperate with colleagues, exchanging ideas and finding optimal
            solutions. Professional maturity allows you to calmly cope with
            challenges and stressful situations, while maintaining a high
            quality of work. I&nbsp;am&nbsp;always looking for opportunities for
            self-improvement. I actively study new technologies and practices to
            stay abreast of the latest innovations. I have a strong
            understanding of various programming languages, frameworks and
            architectural concepts that allow me to create efficient and
            scalable software.
          </p>
        </div>
      </li>

      <li class="aboutme-ac-item">
        <div class="aboutme-ac">
          <h2 class="aboutme-ac-title">Role</h2>
          <button type="button" aria-label="description" class="aboutme-ac-trigger">
            <svg class="trigger-icon" width="10" height="5">
              <use href="/img/aboutme/icon.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>

        <div class="aboutme-ac-panel">
          <ul class="aboutme-ac-role-list">
            <li class="aboutme-ac-role-item">Frontend development</li>
            <li class="aboutme-ac-role-item">HeadlessCMS,Wordpress</li>
            <li class="aboutme-ac-role-item">Blender(enjoy)</li>
          </ul>
        </div>
      </li>

      <li class="aboutme-ac-item">
        <div class="aboutme-ac">
          <h2 class="aboutme-ac-title">Education</h2>
          <button
            type="button"
            class="aboutme-ac-trigger"
            aria-label="Open-Close"
          >
            <svg class="trigger-icon" width="10" height="5">
              <use href="/img/aboutme/icon.svg#icon-arrow"></use>
            </svg>
          </button>
        </div>
        <div class="aboutme-ac-panel">
          <ul class="aboutme-ac-education-list">
            <li class="aboutme-ac-education-item">
              2018 - 2019 / Frontend Development Diploma, GoIT IT
              School,&nbsp;New York
            </li>
            <li class="aboutme-ac-education-item">
              2019 - 2020 / Advanced Web Development Certificate, GoIT IT
              School, New York
            </li>
            <li class="aboutme-ac-education-item">
              2020 - 2022 / Advanced Blender Animation Techniques, Udemy
            </li>
          </ul>
        </div>
      </li>
    </ul>

    <div class="aboutme-swiper">
      <ul class="aboutme-swiper-wrapper">
        <li class="aboutme-swiper-slide">HTML/CSS</li>
        <li class="aboutme-swiper-slide">JavaScript</li>
        <li class="aboutme-swiper-slide">React</li>
        <li class="aboutme-swiper-slide">Node. js</li>
        <li class="aboutme-swiper-slide">React Native</li>
        <li class="aboutme-swiper-slide">Soft skills</li>
        <li class="aboutme-swiper-slide">HTML/CSS</li>
        <li class="aboutme-swiper-slide">JavaScript</li>
        <li class="aboutme-swiper-slide">React</li>
        <li class="aboutme-swiper-slide">Node. js</li>
        <li class="aboutme-swiper-slide">React Native</li>
        <li class="aboutme-swiper-slide">Soft skills</li>
      </ul>

      <div class="aboutme-swiper-button-next">
        <svg class="aboutme-swiper-icon" width="28" height="28">
          <use href="/img/aboutme/icon.svg#icon-arrow-narrow"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
