<section class="benefits-section" id="benefits">
    <div class="container benefits-container">
        <h2 class="benefits-title">BENEFITS OF WORKING WITH ME</h2>
        <div>
        <ul class="benefits-list">
            <li class="benefits-list-items">
                <div class="wrapper-for-li">
                <div class="benefits-icon">
                <svg class="benefits-svg" width="24" height="24">
                    <use href="/img/benefits/sprite.svg#icon-icon-user"></use>
                    </svg>
                    </div>
                    <p class="inItems-text">Expertise</p>
                    <p class="inItems-description">As a highly experienced developer, I have deep knowledge of programming and website development.</p>
                </div>
            </li>
            <li class="benefits-list-items">
                <div class="wrapper-for-li">
                <div class="benefits-icon">
                <svg class="benefits-svg" width="24" height="24">
                    <use href="/img/benefits/sprite.svg#icon-message-icon"></use>
                        </svg></div>
                    <p class="inItems-text">Communication</p>
                    <p class="inItems-description"> Understanding your needs and wants is my priority and I am always open to discussions and corrections.</p>
                </div>
            </li>
            <li class="benefits-list-items">
                <div class="wrapper-for-li">
                <div class="benefits-icon">
                <svg class="benefits-svg" width="24" height="24">
                    <use href="/img/benefits/sprite.svg#icon-draw-icon"></use>
                    </svg></div>
                    <p class="inItems-text">Art</p>
                    <p class="inItems-description">Thanks to my creative nature, I am ready to accept challenges and help you bring your ideas to life. </p>
                </div>
            </li>
            <li class="benefits-list-items">
                <div class="wrapper-for-li">
                <div class="benefits-icon">
                <svg class="benefits-svg" width="24" height="24">
                    <use href="/img/benefits/sprite.svg#icon-sand-clock-icon"></use>
                        </svg></div>
                    <p class="inItems-text">Urgent execution</p>
                    <p class="inItems-description">I understand how important time is to you. Ready to work quickly and efficiently, without reducing the quality of work.</p>
                </div>
            </li>
        </ul>
                        <a class="benefits-order" href="#work-together">Order the project</a>
                        </div>
    </div>
</section>