<section class="covers">
    <div class=" covers-container">
        <div class="covers-rotate">
        <h2 class="covers-h">Covers</h2>
        <ul class="covers-list">
            <li class="covers-list-item"><img src="./img/covers/fruitbox-1.jpg" srcset="./img/covers/fruitbox-1.jpg 1x, ./img/covers/fruitbox-2.jpg 2x" alt="fruitbox" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/englishexcelence-1.jpg" srcset="./img/covers/englishexcelence-1.jpg 1x, ./img/covers/englishexcelence-2.jpg 2x" alt="englishexcelence" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/chego-1.jpg" srcset="./img/covers/chego-1.jpg 1x, ./img/covers/chego-2.jpg 2x" alt="chego" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/powerpulse-1.jpg" srcset="./img/covers/powerpulse-1.jpg 1x, ./img/covers/powerpulse-2.jpg 2x" alt="powerpulse" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/mimino-1.jpg" srcset="./img/covers/mimino-1.jpg 1x, ./img/covers/mimino-2.jpg 2x" alt="mimino" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/wallet-1.jpg" srcset="./img/covers/wallet-1.jpg 1x, ./img/covers/wallet-2.jpg 2x" alt="wallet" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/thewatchspot-1.jpg" srcset="./img/covers/thewatchspot-1.jpg 1x, ./img/covers/thewatchspot-2.jpg 2x" alt="thewatchspot" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/ukrainian-artistry-1.jpg" srcset="./img/covers/ukrainian-artistry-1.jpg 1x, ./img/covers/ukrainian-artistry-2.jpg 2x" alt="ukrainian-artistry" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/green-harvest-1.jpg" srcset="./img/covers/green-harvest-1.jpg 1x, ./img/covers/green-harvest-2.jpg 2x" alt="green-harvest" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/energy-flow-1.jpg" srcset="./img/covers/energy-flow-1.jpg 1x, ./img/covers/energy-flow-2.jpg 2x" alt="energy-flow" class="covers-img"></li>
        </ul>
        <ul class="covers-list covers-list-left">
            <li class="covers-list-item"><img src="./img/covers/mimino-1.jpg" srcset="./img/covers/mimino-1.jpg 1x, ./img/covers/mimino-2.jpg 2x" alt="mimino" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/powerpulse-1.jpg" srcset="./img/covers/powerpulse-1.jpg 1x, ./img/covers/powerpulse-2.jpg 2x" alt="powerpulse" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/wallet-1.jpg" srcset="./img/covers/wallet-1.jpg 1x, ./img/covers/wallet-2.jpg 2x" alt="wallet" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/thewatchspot-1.jpg" srcset="./img/covers/thewatchspot-1.jpg 1x, ./img/covers/thewatchspot-2.jpg 2x" alt="thewatchspot" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/ukrainian-artistry-1.jpg" srcset="./img/covers/ukrainian-artistry-1.jpg 1x, ./img/covers/ukrainian-artistry-2.jpg 2x" alt="ukrainian-artistry" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/green-harvest-1.jpg" srcset="./img/covers/green-harvest-1.jpg 1x, ./img/covers/green-harvest-2.jpg 2x" alt="green-harvest" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/energy-flow-1.jpg" srcset="./img/covers/energy-flow-1.jpg 1x, ./img/covers/energy-flow-2.jpg 2x" alt="energy-flow" class="covers-img"> </li>
            <li class="covers-list-item"><img src="./img/covers/fruitbox-1.jpg" srcset="./img/covers/fruitbox-1.jpg 1x, ./img/covers/fruitbox-2.jpg 2x" alt="fruitbox" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/englishexcelence-1.jpg" srcset="./img/covers/englishexcelence-1.jpg 1x, ./img/covers/englishexcelence-2.jpg 2x" alt="englishexcelence" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/chego-1.jpg" srcset="./img/covers/chego-1.jpg 1x, ./img/covers/chego-2.jpg 2x" alt="chego" class="covers-img"></li>
        </ul>
        <ul class="covers-list">
            <li class="covers-list-item"><img src="./img/covers/wallet-1.jpg" srcset="./img/covers/wallet-1.jpg 1x, ./img/covers/wallet-2.jpg 2x" alt="wallet.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/thewatchspot-1.jpg" srcset="./img/covers/thewatchspot-1.jpg 1x, ./img/covers/thewatchspot-2.jpg 2x" alt="thewatchspot.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/ukrainian-artistry-1.jpg" srcset="./img/covers/ukrainian-artistry-1.jpg 1x, ./img/covers/ukrainian-artistry-2.jpg 2x" alt="ukrainian-artistry.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/starlight-1.jpg" srcset="./img/covers/starlight-1.jpg 1x, ./img/covers/starlight-2.jpg 2x" alt="starlight.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/energy-flow-1.jpg" srcset="./img/covers/energy-flow-1.jpg 1x, ./img/covers/energy-flow-2.jpg 2x" alt="energy-flow.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/fruitbox-1.jpg" srcset="./img/covers/fruitbox-1.jpg 1x, ./img/covers/fruitbox-2.jpg 2x" alt="fruitbox.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/englishexcelence-1.jpg" srcset="./img/covers/englishexcelence-1.jpg 1x, ./img/covers/englishexcelence-2.jpg 2x" alt="englishexcelence.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/chego-1.jpg" srcset="./img/covers/chego-1.jpg 1x, ./img/covers/chego-2.jpg 2x" alt="chego.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/powerpulse-1.jpg" srcset="./img/covers/powerpulse-1.jpg 1x, ./img/covers/powerpulse-2.jpg 2x" alt="powerpulse.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/mimino-1.jpg" srcset="./img/covers/mimino-1.jpg 1x, ./img/covers/mimino-2.jpg 2x" alt="mimino.site" class="covers-img"></li>
        </ul>
        <ul class="covers-list covers-list-left">
            <li class="covers-list-item"><img src="./img/covers/fruitbox-1.jpg" srcset="./img/covers/fruitbox-1.jpg 1x, ./img/covers/fruitbox-2.jpg 2x" alt="green-harvest.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/energy-flow-1.jpg" srcset="./img/covers/energy-flow-1.jpg 1x, ./img/covers/energy-flow-2.jpg 2x" alt="energy-flow.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/green-harvest-1.jpg" srcset="./img/covers/green-harvest-1.jpg 1x, ./img/covers/green-harvest-2.jpg 2x" alt="green-harvest.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/englishexcelence-1.jpg" srcset="./img/covers/englishexcelence-1.jpg 1x, ./img/covers/englishexcelence-2.jpg 2x" alt="englishexcelence.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/chego-1.jpg" srcset="./img/covers/chego-1.jpg 1x, ./img/covers/chego-2.jpg 2x" alt="chego.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/powerpulse-1.jpg" srcset="./img/covers/powerpulse-1.jpg 1x, ./img/covers/powerpulse-2.jpg 2x" alt="powerpulse.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/mimino-1.jpg" srcset="./img/covers/mimino-1.jpg 1x, ./img/covers/mimino-2.jpg 2x" alt="mimino.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/wallet-1.jpg" srcset="./img/covers/wallet-1.jpg 1x, ./img/covers/wallet-2.jpg 2x" alt="wallet.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/thewatchspot-1.jpg" srcset="./img/covers/thewatchspot-1.jpg 1x, ./img/covers/thewatchspot-2.jpg 2x" alt="thewatchspot.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/ukrainian-artistry-1.jpg" srcset="./img/covers/ukrainian-artistry-1.jpg 1x, ./img/covers/ukrainian-artistry-2.jpg 2x" alt="ukrainian-artistry.site" class="covers-img"></li>
        </ul>
        <ul class="covers-list">
            <li class="covers-list-item"><img src="./img/covers/englishexcelence-1.jpg" srcset="./img/covers/englishexcelence-1.jpg 1x, ./img/covers/englishexcelence-2.jpg 2x" alt="englishexcelence.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/chego-1.jpg" srcset="./img/covers/chego-1.jpg 1x, ./img/covers/chego-2.jpg 2x" alt="chego.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/powerpulse-1.jpg" srcset="./img/covers/powerpulse-1.jpg 1x, ./img/covers/powerpulse-2.jpg 2x" alt="powerpulse.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/mimino-1.jpg" srcset="./img/covers/mimino-1.jpg 1x, ./img/covers/mimino-2.jpg 2x" alt="mimino.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/wallet-1.jpg" srcset="./img/covers/wallet-1.jpg 1x, ./img/covers/wallet-2.jpg 2x" alt="wallet.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/thewatchspot-1.jpg" srcset="./img/covers/thewatchspot-1.jpg 1x, ./img/covers/thewatchspot-2.jpg 2x" alt="thewatchspot.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/ukrainian-artistry-1.jpg" srcset="./img/covers/ukrainian-artistry-1.jpg 1x, ./img/covers/ukrainian-artistry-2.jpg 2x" alt="ukrainian-artistry.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/green-harvest-1.jpg" srcset="./img/covers/green-harvest-1.jpg 1x, ./img/covers/green-harvest-2.jpg 2x" alt="green-harvest.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/energy-flow-1.jpg" srcset="./img/covers/energy-flow-1.jpg 1x, ./img/covers/energy-flow-2.jpg 2x" alt="energy-flow.site" class="covers-img"></li>
            <li class="covers-list-item"><img src="./img/covers/fruitbox-1.jpg" srcset="./img/covers/fruitbox-1.jpg 1x, ./img/covers/fruitbox-2.jpg 2x" alt="fruitbox.site" class="covers-img"></li>
        </ul>
    </div>
    </div>
</section>