<section class="faq-section" id="faq">
  <div class="container faq-container">
    <h2 class="faq-title">FAQ</h2>
    <ul class="faq-list faq-accordion">
      <li class="ac">
        <div class="ac-header">
          <p class="faq-question">
            What programming languages ​​are most often used in your project?
          </p>
          <button class="ac-trigger" aria-label="description">
            <svg class="icon-faq" width="20" height="20">
              <use href="/img/faq/spritefaq.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-answer">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header">
          <p class="faq-question " id="faq-questions1">What are the deadlines for the project?</p>
          <button class="ac-trigger" aria-label="description">
            <svg class="icon-faq" width="20" height="20">
              <use href="/img/faq/spritefaq.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-answer" id="faq-questions2">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header">
          <p class="faq-question">What payment methods do you accept?</p>
          <button class="ac-trigger" aria-label="description">
            <svg class="icon-faq" width="20" height="20">
              <use href="/img/faq/spritefaq.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-answer">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
      <li class="ac">
        <div class="ac-header">
          <p class="faq-question" id="faq-questions3">How can I contact you?</p>
          <button class="ac-trigger" aria-label="description">
            <svg class="icon-faq" width="20" height="20">
              <use href="/img/faq/spritefaq.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-answer" id="faq-questions4">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>
      <li class="ac ac-last">
        <div class="ac-header">
          <p class="faq-question">Do you provide advice or support?</p>
          <button class="ac-trigger" aria-label="description">
            <svg class="icon-faq" width="20" height="20">
              <use href="/img/faq/spritefaq.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-answer">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>
      <li class="ac ac-last">
        <div class="ac-header">
          <p class="faq-question" id="faq-questions5">
            What does the process of developing a software product look like
            from idea to implementation?
          </p>
          <button class="ac-trigger" aria-label="description">
            <svg class="icon-faq" width="20" height="20">
              <use href="/img/faq/spritefaq.svg#icon-arrow-up"></use>
            </svg>
          </button>
        </div>
        <div class="ac-panel">
          <p class="faq-answer" id="faq-questions6">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
