
<section class="hero">
  <div class="container">
    <h1 class="hero-title">
      Hello.<br />I’m Fullstack developer Lloyd Jefferson.
    </h1>
    <ul class="hero-list">
      <li class="hero-list-item">
        <a
          href="https://www.instagram.com/goitclub/"
          class="hero-item-link"
          target="_blank"
          rel="noopener noreferrer"
          >IG</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://www.facebook.com/goITclub/"
          class="hero-item-link"
          target="_blank"
          rel="noopener noreferrer"
          >FB</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://www.youtube.com/c/GoIT"
          class="hero-item-link"
          target="_blank"
          rel="noopener noreferrer"
          >YT</a
        >
      </li>
      <li class="hero-list-item">
        <a
          href="https://github.com/DBodies/JS-Project-group03"
          class="hero-item-link"
          target="_blank"
          rel="noopener noreferrer"
          >GH</a
        >
      </li>
      <li class="hero-list-item email">
        <a href="mailto:lloydjefferson@gmail.com" class="email-link"
          >lloydjefferson@gmail.com</a
        >
      </li>
    </ul>
  </div>
</section>

