<section class="section-reviews">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-container container-reviews">
      <ul class="swiper-wrapper slider-list"></ul>      
    </div>
    <div class="slider-nav">
      <button class="slider-nav-prev" aria-label="next">
        <svg
          class="slider-arrow-prev"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="m21.5 12c0 .414-.336.75-.75.75h-16.189l5.72 5.72c.293.293.293.768 0 1.061-.146.146-.338.22-.53.22s-.38397-.073-.52997-.22l-7-7c-.293-.293-.293-.768 0-1.061l7-7.00001c.293-.293.76798-.293 1.06097 0 .293.293.293.76804 0 1.06104l-5.71996 5.71997h16.18796c.414-.001.75.335.75.749z"
          />
        </svg>
      </button>
      <button class="slider-nav-next" aria-label="next">
        <svg
          class="slider-arrow-next"
          width="32"
          height="32"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            id="arrow-right"
            d="m21.692 12.287a.755.755 0 0 1 -.162.243l-7 7a.75.75 0 0 1 -1.06-1.06l5.719-5.72h-16.189a.75.75 0 0 1 0-1.5h16.189l-5.719-5.72a.75.75 0 0 1 1.06-1.06l7 7a.751.751 0 0 1 .162.817z"
          />
        </svg>
      </button>
    </div>
  </div>
</section>
